{% extends "header-footer.html" %}
{% load static %}
{% block header %}

	<style>
		.section--bg {

			  background: url("{% static 'assets/images/home/home__bg.jpg' %}") no-repeat center/cover;
			  opacity: 75%;
		  }
	</style>



	<!-- page title -->
	<section class="section section--first section--bg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Contacts</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="{% url 'home' %}">Home</a></li><i class="fa fa-arrow-right"></i>
							<li class="breadcrumb__item breadcrumb__item--active">Contacts</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- contacts -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7 col-xl-8">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--mb">Contact Form</h2>
						</div>
						<!-- end section title -->

						<div class="col-12">
							<form action="#" class="form form--contacts" method="post">
								{% csrf_token %}
								<div class="row row--form">
									<div class="col-12 col-xl-6">
										<input type="text" name="name" class="form__input" placeholder="Name" required>
									</div>
									<div class="col-12 col-xl-6">
										<input type="email"name="email" class="form__input" placeholder="Email" required>
									</div>
									<div class="col-12">
										<input type="text" name="subject" class="form__input" placeholder="Subject" required>
									</div>
									<div class="col-12">
										<textarea id="text" name="message" name="text" class="form__textarea" placeholder="Type your message..." required></textarea>
									</div>
									<div class="col-12">
										<button type="submit"  class="form__btn">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-md-5 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--mb">Info</h2>
						</div>
						<!-- end section title -->

						<div class="col-12">
							<p class="section__text">It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>

							<ul class="contacts__list">
								<li><a href="tel:+18002345678">+1 800 234-56-78</a></li>
								<li><a href="mailto:support@moviego.com">support@movieverse.template</a></li>
							</ul>
							<style>
								.contacts__social a{
									text-decoration: none;
									color: white;
								}
								.contact-social-icons{
									font-size: 1.3em;
								}
								.contact-social-icons:hover{
									color: #e8a93b;
								}
							</style>

							<div class="contacts__social">
								<a href="https://github.com/shiva-sankar-dev" class="contact-social-icons">
									<i class="fa-brands fa-github" style=""></i>
								  </a>
								  <a href="https://www.linkedin.com/in/shiva-sankar-qw/" class="contact-social-icons">
									<i class="fa-brands fa-linkedin" ></i>
								  </a>
								  <a href="https://www.instagram.com/shivah_________/" class="contact-social-icons">
									<i class="fa-brands fa-instagram"  ></i>
								  </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end contacts -->

{% endblock  %}