{% extends 'header-footer.html' %}
{% load static %}
{% block header %}
<br>
<br>
<br>



<div class="catalog" style="padding-top: 30px;height: 100vh;">
    <div class="container">
        <div class="row row--grid">
            <!-- card -->
            {% if filter_apply_count == 0 %}
            <div style="height: 580px;width: 100%;">
                <p class="empty_list" style="color: white;text-align: center;"><span style="color:orange;font-size: 1.5em;">Sorry</span>currently no movie on your filter</p>
            </div>
            {% else %}
            {% for data in filter_apply %}
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/static/media/{{data.movie_cover}}" alt="">
                        <a href="{% url 'productdetails' data.id  %}" class="card__play">    
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="details.html">{{data.movie_title}}</a></h3>
                        <span class="card__category">
                            <a href="#">{{data.movie_genre}}</a>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <!-- end card -->

        </div>
    </div>
</div>
{% endblock %}