{% extends "header-footer.html" %}
{% load static %}
{% block header %}

	<style>
		.section--bg {

			  background: url("{% static 'assets/images/home/home__bg.jpg' %}") no-repeat center/cover;
			  opacity: 75%;
			  position: relative;
		  }
		  .section--bg::before{
			position: absolute;
			top: 0%;
			left: 0%;
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
		  }
	</style>


	<!-- page title -->
	<section class="section section--first section--bg" >
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">My MovieVerse</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="{% url 'home' %}">Home</a></li>
							<i class="fa fa-arrow-right"></i>
							<li class="breadcrumb__item breadcrumb__item--active">Profile</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- content -->
	<div class="content content--profile">
		<!-- profile -->
		<div class="profile">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="profile__content">
							<div class="profile__user">
								<div class="profile__avatar">
									{% if custom_user.img %}
									<img src="/static/media/{{custom_user.img}}" alt="">
									{% else %}
									<img src="../static/assets/images/logo.svg" alt="">
									{% endif %}
								</div>
								<div class="profile__meta">
									<h3>{{custom_user.user_full_name}}</h3>
									<span>MOVIEVERSE ID: {{custom_user.id}}</span>
								</div>
							</div>

							<!-- content tabs nav -->
							<ul class="nav nav-tabs content__tabs content__tabs--profile" id="content__tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
								</li>


								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Settings</a>
								</li>
							</ul>
							<!-- end content tabs nav -->

							<!-- content mobile tabs nav -->
							<div class="content__mobile-tabs content__mobile-tabs--profile" id="content__mobile-tabs">
								<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input type="button" value="Profile">
									<span></span>
								</div>

								<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a></li>

										{% comment %} <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Subscription</a></li> {% endcomment %}

										<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Settings</a></li>
									</ul>
								</div>
							</div>
							<!-- end content mobile tabs nav -->
							{% comment %} <a href="{% url "user_logout" %}" class="profile__logout">
								<i class="fa fa-arrow-right"></i>
								<span>SIGN OUT</span>
							</a> {% endcomment %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end profile -->

		<div class="container">
			<!-- content tabs -->
			<div class="tab-content">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="row row--grid">
						<!-- stats -->
						<div class="col-12 col-sm-6 col-xl-3">
							<div class="stats">
								<span>plan</span>
								<p>NO charges apply</p>
								<i class="fa fa-credit-card"></i>
							</div>
						</div>
						<!-- end stats -->

						<!-- stats -->
						{% comment %} <div class="col-12 col-sm-6 col-xl-3">
							<div class="stats">
								<span>Films watched</span>
								<p><a href="#">1 678</a></p>
								<i class="fa  fa-film"></i>
							</div>
						</div> {% endcomment %}
						<!-- end stats -->

						<!-- stats -->
						<div class="col-12 col-sm-6 col-xl-3">
							<div class="stats">
								<span>Your comments</span>
								<p><a href="#">{{cmtcount}}</a></p>
								<i class="fa fa-comments"></i>
							</div>
						</div>
						<!-- end stats -->

						<!-- stats -->
						<div class="col-12 col-sm-6 col-xl-3">
							<div class="stats">
								<span>Your reviews</span>
								<p><a href="#">{{reviewcount}}</a></p>
								<i class="fa fa-star"></i> 
							</div>
						</div>
						<!-- end stats -->

						<!-- dashbox -->
						{% comment %} <div class="col-12 col-xl-6">
							<div class="dashbox">
								<div class="dashbox__title">
									<h3><i class=" fa fa-film"></i> Movies for you</h3>

									<div class="dashbox__wrap">
										<a class="dashbox__refresh" href="#"><i class="fa fa-rotate-right"></i></a>
										<a class="dashbox__more" href="catalog.html">View All</a>
									</div>
								</div>

								<div class="dashbox__table-wrap">
									<table class="main__table main__table--dash">
										<thead>
											<tr>
												<th>TITLE</th>
												<th>CATEGORY</th>
												<th>RATING</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="main__table-text"><a href="#">I Dream in Another Language</a></div>
												</td>
												 <td>
													<div class="main__table-text">Movie</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="fa fa-star"></i> 9.2</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="main__table-text"><a href="#">Benched</a></div>
												</td>
												<td>
													<div class="main__table-text">Movie</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 9.1</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="main__table-text"><a href="#">Whitney</a></div>
												</td>
												<td>
													<div class="main__table-text">TV Series</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 9.0</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="main__table-text"><a href="#">Blindspotting 2</a></div>
												</td>
												<td>
													<div class="main__table-text">TV Series</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 8.9</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="main__table-text"><a href="#">Blindspotting</a></div>
												</td>
												<td>
													<div class="main__table-text">TV Series</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 8.9</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div> {% endcomment %}
						<!-- end dashbox -->

						<!-- dashbox -->
						<div class="col-12 col-xl-6">
							<div class="dashbox">
								<div class="dashbox__title">
									<h3><i class="fa fa-star"></i> Latest reviews</h3>

									<div class="dashbox__wrap">
										<a class="dashbox__refresh" href="#"><i id="refresh_icon" class="fa fa-rotate-right"></i></a>
										<script>
											document.getElementById('refresh_icon').addEventListener('click',function(){
												location.reload();
											})
										</script>
									</div>
								</div>

								<div class="dashbox__table-wrap">
									<table class="main__table main__table--dash">
										<thead>
											<tr>
												<th>ITEM</th>
												<th>AUTHOR</th>
												<th>RATING</th>
											</tr>
										</thead>
										<tbody>
											{% for data in reviews %}
											<tr>
												<td>
													<div class="main__table-text"><a href="#">{{data.product_id.movie_title}}</a></div>
												</td>
												<td>
													<div class="main__table-text">{{data.user_id.user_full_name}}</div>
												</td>
												<td>
													<div class="main__table-text main__table-text--rate"><i class="fa fa-star"></i> {{data.star_rating}}</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- end dashbox -->
					</div>
				</div>



				<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
					<div class="row">
						<!-- details form -->
						<div class="col-12 col-lg-6">
							<form action="#" class="form form--profile" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row row--form">
									<div class="col-12">
										<h4 class="form__title">Profile details</h4>
									</div>

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="username">Username</label>
											<input id="username" type="text" name="username" class="form__input" placeholder="Your Name">
										</div>
									</div>



									{% comment %} <div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="firstname">First Name</label>
											<input id="firstname" type="text" name="firstname" class="form__input" placeholder="John">
										</div>
									</div>{% endcomment %}

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										{% comment %} <div class="form__group">
											<label class="form__label" for="lastname">Last Name</label>
											<input id="lastname" type="text" name="lastname" class="form__input" placeholder="Doe">
										</div> {% endcomment %}
										<div class="form__img" style="padding-bottom: 1.5em;">
											<label style="color: white;" >Choose your photo</label>
											<input  style="color: white;" name="image" type="file" accept=".png, .jpg, .jpeg">
										</div>
									</div> 

									<div class="col-12">
										<button class="form__btn" name="profileupdate" type="submit">Save</button>
									</div>
								</div>
							</form>
						</div>
						<!-- end details form -->

						<!-- password form -->
						{% comment %} <div class="col-12 col-lg-6">
							<form action="#" class="form form--profile">
								<div class="row row--form">
									<div class="col-12">
										<h4 class="form__title">Change password</h4>
									</div>

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="oldpass">Old password</label>
											<input id="oldpass" type="password" name="oldpass" class="form__input">
										</div>
									</div>

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="newpass">New password</label>
											<input id="newpass" type="password" name="newpass" class="form__input">
										</div>
									</div>

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="confirmpass">Confirm new password</label>
											<input id="confirmpass" type="password" name="confirmpass" class="form__input">
										</div>
									</div>

									<div class="col-12 col-md-6 col-lg-12 col-xl-6">
										<div class="form__group">
											<label class="form__label" for="select">Select</label>
											<select name="select" id="select" class="form__select">
												<option value="0">Option</option>
												<option value="1">Option 2</option>
												<option value="2">Option 3</option>
												<option value="3">Option 4</option>
											</select>
										</div>
									</div>

									<div class="col-12">
										<button class="form__btn" type="button">Change</button>
									</div>
								</div>
							</form>
						</div> {% endcomment %}
						<!-- end password form -->
					</div>
				</div>
			</div>
			<!-- end content tabs -->
		</div>
	</div>
	<!-- end content -->

	<!-- partners -->
	<section class="section section--border">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12" style="margin-top: 24px;">
					<h2 class="section__title section__title--mb">Our Partners</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
					<p class="section__text">It is a long <b>established</b> fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
				</div>
				<!-- end section text -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/themeforest-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/audiojungle-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/codecanyon-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/photodune-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/activeden-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->

				<!-- partner -->
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="img/partners/3docean-light-background.png" alt="" class="partner__img">
					</a>
				</div>
				<!-- end partner -->
			</div>
		</div>
	</section>
	<!-- end partners -->



{% endblock  %}